################################################################################
# MINITAGE LIBRARY PROJECT BUILDOUT
################################################################################
[buildout]
eggs-directory=../../eggs/cache
develop-eggs-directory=../../eggs/develop-eggs
parts = part
versions = versions
hooks-directory = ${buildout:directory}/hooks
[versions]
[part]
recipe = minitage.recipe:cmmi
url = http://${mirrors:minitage}/minitage/postgresql-8.3.5.tar.bz2
md5sum = 3bc028774d7a79e926be0c6a9c7ca209
pre-configure-hook  = ${buildout:hooks-directory}/setenv.py:getpostgresqlenv
gmake=True
configure-options = --with-readline --with-openssl --with-ldap --with-python
# postgres needs a python without threads under freebsd for use with plpython, taking it in account !
[mirrors]
minitage = distfiles.minitage.org/public/externals

