################################################################################

# MINITAGE LIBRARY PROJECT BUILDOUT
################################################################################
[buildout]
eggs-directory=../../eggs/cache
develop-eggs-directory=../../eggs/develop-eggs
parts = part
versions = versions
hooks-directory = ${buildout:directory}/hooks
[versions]
[mirrors]
minitage = distfiles.minitage.org/public/externals 
[part]
recipe = minitage.recipe:cmmi
url = http://${mirrors:minitage}/minitage/postgresql-8.4.0.tar.bz2
md5sum = 1f172d5f60326e972837f58fa5acd130
pre-configure-hook  =  ${buildout:hooks-directory}/setenv.py:getpostgresqlenv
gmake=True
configure-options = --with-readline --with-openssl --without-ldap --with-python
#configure-options-freebsd6 =  --enable-rpath 
#configure-options-freebsd7 =  --enable-rpath 
# postgres needs a python without threads under freebsd for use with plpython, taking it in account !
# on freebsd again, libpq seems not to link with rpath against libssl somehow, here is a workaround
environment=
    MINITAGE_SSL=-Wl,-rpath -Wl,${buildout:directory}/../openssl-0.9/parts/part/lib 
patch=${buildout:directory}/ssl.patch
patch-options=-Np1

